{
  "presets": [
    "babel-preset-philpl"
  ],
  "ignore": [
    "/node_modules/"
  ],
  "plugins": [
    "transform-runtime",
    "transform-react-constant-elements",
    "transform-react-inline-elements",
    "closure-elimination"
  ],
  env: {
    commonjs: {
      plugins: [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
